---
layout: base.njk
---

<h1 style="font-size:52px"><img src="/assets/coal-logo.png" style="width:32px; padding-right: 15px;">David's LP</h1>


<h2 style="margin-top: 100px;">Get your podcast today</h2>

<script src="https://qa1.supportingcast.co/js/sc-widget.js" defer></script>
<div id="supportingcast-widget"
    data-publishable-key="wpk_R9keYHJaHhmpYWGvIQdFV0XWE04Uqw88fggqW8NkQYmMrkE8Q3LJSsSzTFwOWfO1u6S6HyA6S6wvloKMiRlkj1lXox5OnhcUMS9"
></div>

