---
layout: base.njk
---

<h1><img src="/assets/coal-logo.png" style="width:32px; padding-right: 15px;">Get Your Cyber Security Risk Profile</h1>
<h2>Learn stuff</h2>
<iframe id=FSINRYYITD loading="eager" src="https://embed.pickaxeproject.com/axe?id=Cyber_Risk_Profile_Adviser_XFC7M&mode=embed_gold&host=beta&theme=dark&opacity=100&font_header=Real+Head+Pro&size_header=30&font_body=Real+Head+Pro&size_body=16&font_labels=Real+Head+Pro&size_labels=14&font_button=Real+Head+Pro&size_button=16&c_fb=08090B&c_ff=08090B&c_fbd=FFFFFF&c_bb=FFFFFF&c_bt=000000&c_t=FFFFFF&s_ffo=100&s_bbo=100&s_f=minimalist&s_b=filled&s_t=2&s_r=2" width="600px" height="600px" onMouseOver="this.style.boxShadow='0px 6px 6px -3px rgba(0,0,0,0.1)'" onMouseOut="this.style.boxShadow='none'" style="border:1px solid rgba(0, 0, 0, 1);transition:.3s;border-radius:4px;" frameBorder="0"></iframe>



<input type="text" id="input1" placeholder="First and Last Name">
<input type="text" id="input2" placeholder="Email address">

<button onclick="showStackUp()">See how you stack up</button>

<div id="stackUpInfo" class="hidden">
  <p>This is paragraph 1</p>
  <p>This is paragraph 2</p>
  <img id="image" src="/assets/barchart.png" alt="Your Image">
</div>

