body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-image: radial-gradient(rgb(189, 189, 189) 1px, white 1px);
  background-size: 20px 20px;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  margin-top: 0;
}

/* Style for input fields */
input[type=text] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Style for input fields when focused */
input[type=text]:focus {
  border-color: #2773e0;
  outline: none;
}

  .hidden {
    display: none;
  }


video {
  margin-top:20px;  
  margin-bottom:60px;

}

